body {
    background-color: #E1E1E1;
}

.detail-container {
    margin: 90px auto;
    width: 900px;
    padding: 0 20px;
}

.detail-title {
    border-left: 8px solid #000000;
    padding-left: 18px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
}

.detail-table {
    width: 100%;
    background: #fff;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.detail-table th,
.detail-table td {
    padding: 18px 30px;
    border-bottom: 2px solid #E1E1E1;
    font-size: 18px;
}

.detail-table th {
    width: 25%;
    background: #FAFAFA;
    font-weight: bold;
}

.detail-footer {
    text-align: right;
    margin-top: 25px;
}

.detail-edit-btn {
    display: inline-block;
    padding: 14px 40px;
    background: #000;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.detail-edit-btn:hover {
    opacity: 0.7;
}