body {
    background-color: #E1E1E1;
}

.detail-container {
    margin: 90px auto;
    width: 900px;
    padding: 0 20px;
}

.detail-title {
    border-left: 8px solid #000000;
    padding-left: 18px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
}

.detail-table {
    width: 100%;
    background: #fff;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.detail-table__column:first-child {
    height: 79px;
}

.detail-table__column:last-child {
    height: 106px;
}

.detail-table__column {
    height: 89px;
}

.detail-table__header,
.detail-table__data {
    border-bottom: 2px solid #E1E1E1;
    font-size: 16px;
    font-weight: 700;
}

.detail-table__header {
    width: 25%;
    color: #737373;
    text-align: left;
    padding-left: 64px;
}

.detail-table__data {
    text-align: left;
    padding-left: 170px;
}

.detail-table__data-item:first-child {
    margin-right: 140px;
}

.time-row {
    display: flex;
    align-items: center;
    gap: 40px;
}

.time__input {
    width: 100px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}

.time-separator {
    font-size: 16px;
    font-weight: 700;
}

.detail-footer {
    text-align: right;
    margin-top: 25px;
}

.detail-textarea {
    width: 63%;
    height: 90px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
}

.detail-edit-btn {
    display: inline-block;
    padding: 14px 50px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 22px;
    font-weight: 700;
}

.detail-edit-btn:hover {
    opacity: 0.7;
}

.pending-message {
    color: rgba(255, 0, 0, 0.5);
    font-weight: 800;
    font-size: 18px;
}

.detail-form__error-message {
    color: red;
    font-weight: 400;
}

.success-message {
    color: blue;
}

.readonly-input {
    background: none;
    border: none;
    padding-left: 0;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    width: 50px;
}

.readonly-input[name$="[end]"],
.readonly-input[name="clock_out"] {
    margin-left: 30px;
}

.readonly-input[name$="[start]"],
.readonly-input[name="clock_in"] {
    margin-right: 30px;
}

.readonly-input:disabled {
    opacity: 1;
    cursor: default;
}

.textarea-wrapper.readonly-mode {
    display: flex;
    align-items: center;
    width: 63%;
    height: 65px;
}

.readonly-textarea {
    background: none;
    border: none;
    resize: none;
    padding: 0;
    text-align: left;
    display: flex;
    align-items: center;
    height: 100%;
    color: #000000;
    font-weight: 700;
    pointer-events: none;
}