.attendance-container {
    text-align: center;
    margin-top: 120px;
}

.attendance-status__label {
    display: inline-block;
    padding: 8px 22px;
    background-color: #e5e5e5;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #444;
    margin-bottom: 25px;
    width: 100px;
    height: 40px;
}

.attendance-date {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
}

.attendance-time {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 50px;
}

.attendance-btn {
    width: 221px;
    height: 77px;
    background-color: #000000;
    color: white;
    padding: 16px 60px;
    font-size: 32px;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.attendance-btn:hover {
    opacity: .7;
}

.success-message {
    color: blue;
}