.header {
    margin: 0 auto;
    width: 100%;
    height: 82px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 370px;
    height: 36px;
    margin-left: 25px;
    min-width: 250px;
}

.header-logo__image {
    width: 100%;
}