.header {
    margin: 0 auto;
    width: 100%;
    height: 82px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 370px;
    height: 36px;
    margin-left: 25px;
    min-width: 250px;
}

.header-logo__image {
    width: 100%;
}

.header-nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    list-style: none;
    width: 463px;
}

.header-nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    list-style: none;
    width: 463px;
}

.admin__header-nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    list-style: none;
    width: 600px;
}

.header-nav__item {
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    white-space: nowrap;
    flex: auto;
    margin-right: 10px;
}

.header-nav__link {
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #000000;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 850px) and (min-width: 768px) {
    .admin__header-nav .header-nav__item {
            font-size: 20px;
        }

        .admin__header-nav .header-nav__link {
            font-size: 20px;
        }
}

/* スマホ対応 */
@media screen and (max-width: 767px) {
    .header {
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 20px;
        height: auto;
    }

    .header-nav,
    .admin__header-nav {
        order: 2;
        gap: 10px;
    }

    .admin__header-nav .header-nav__item {
        font-size: 18px;
    }

    .admin__header-nav .header-nav__link {
        font-size: 18px;
    }
}