body {
    background-color: #E1E1E1;
}

.attendance-list__container {
    margin: 90px auto 0;
    width: 900px;
    padding: 0 20px;
}

.attendance-list__title {
    border-left: 8px solid #000000;
    padding-left: 18px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}

.month-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 14px 25px;
    border-radius: 8px;
    margin-bottom: 25px;
    font-size: 18px;
}

.month-nav__link {
    color: #737373;
    font-weight: 700;
    text-decoration: none;
}

.month-nav__link-item {
    margin: 0 5px;
}

.date-selector {
    margin-bottom: 25px;
}

.date-selector__form {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}

.calendar-icon {
    position: relative;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    border-radius: 6px;
    cursor: pointer;
}

.date-selector__input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.selected-date {
    font-size: 20px;
    font-weight: 700;
}

.attendance__table {
    width: 100%;
    background: #fff;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    color: #737373;
}

.attendance__table-thead {
    background: #fff;
    border-bottom: 3px solid #E1E1E1;
}

.attendance__table-header {
    padding: 16px 30px;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 2px solid #E1E1E1;
}

.attendance__table-data {
    padding: 14px 30px;
    border-bottom: 2px solid #E1E1E1;
    font-size: 15px;
}

.attendance__table-link {
    color: #000;
    font-weight: 700;
    text-decoration: none;
}

.attendance__table-link:hover {
    opacity: 0.7;
}

.download__btn {
    display: inline-block;
    padding: 8px 39px;
    background: #000000;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

.download__btn:hover {
    opacity: 0.7;
}

@media screen and (max-width: 850px) {
    .attendance-list__container {
        width: 90%;
    }

    .attendance-list__title {
        font-size: 26px;
    }

    .attendance__table-header,
    .attendance__table-data {
        padding: 12px 15px;
        font-size: 14px;
    }

    .month-nav {
        padding: 10px 20px;
        font-size: 16px;
    }
}